.relient-admin-table-header-root {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: flex-end;
}

.relient-admin-table-header-operations {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-right: 20px;
  }

  > *:last-child {
    margin-right: 0;
  }
}
